<?xml version="1.0"?>
<robot name="t">
  <link name="object_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <link name="object_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="10.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="10.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1" type="fixed">
    <parent link="object_0"/>
    <child link="object_1"/>
    <origin xyz="10.0 0.0 0.0" rpy="0 0 0" />
  </joint>
  <link name="object_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 10.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 10.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2" type="fixed">
    <parent link="object_0"/>
    <child link="object_2"/>
    <origin xyz="0.0 10.0 0.0" rpy="0 0 0" />
  </joint>
  <link name="object_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="10.0 10.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="10.0 10.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3" type="fixed">
    <parent link="object_0"/>
    <child link="object_3"/>
    <origin xyz="10.0 10.0 0.0" rpy="0 0 0" />
  </joint>
  <link name="object_5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_5" type="fixed">
    <parent link="object_0"/>
    <child link="object_5"/>
    <origin xyz="0.0 3.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4" type="fixed">
    <parent link="object_0"/>
    <child link="object_4"/>
    <origin xyz="0.0 3.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_7">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 4.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 4.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_7" type="fixed">
    <parent link="object_0"/>
    <child link="object_7"/>
    <origin xyz="0.0 4.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 4.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 4.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6" type="fixed">
    <parent link="object_0"/>
    <child link="object_6"/>
    <origin xyz="0.0 4.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_9">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_9" type="fixed">
    <parent link="object_0"/>
    <child link="object_9"/>
    <origin xyz="0.0 5.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_8">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_8" type="fixed">
    <parent link="object_0"/>
    <child link="object_8"/>
    <origin xyz="0.0 5.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_11">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 6.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 6.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_11" type="fixed">
    <parent link="object_0"/>
    <child link="object_11"/>
    <origin xyz="0.0 6.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_10">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 6.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 6.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_10" type="fixed">
    <parent link="object_0"/>
    <child link="object_10"/>
    <origin xyz="0.0 6.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_13">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_13" type="fixed">
    <parent link="object_0"/>
    <child link="object_13"/>
    <origin xyz="0.0 7.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_12">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_12" type="fixed">
    <parent link="object_0"/>
    <child link="object_12"/>
    <origin xyz="0.0 7.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_15">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 0.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 0.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_15" type="fixed">
    <parent link="object_0"/>
    <child link="object_15"/>
    <origin xyz="1.0 0.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_14">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 0.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 0.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_14" type="fixed">
    <parent link="object_0"/>
    <child link="object_14"/>
    <origin xyz="1.0 0.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_17">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_17" type="fixed">
    <parent link="object_0"/>
    <child link="object_17"/>
    <origin xyz="1.0 1.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_16">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_16" type="fixed">
    <parent link="object_0"/>
    <child link="object_16"/>
    <origin xyz="1.0 1.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_19">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 2.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 2.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_19" type="fixed">
    <parent link="object_0"/>
    <child link="object_19"/>
    <origin xyz="1.0 2.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_18">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 2.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 2.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_18" type="fixed">
    <parent link="object_0"/>
    <child link="object_18"/>
    <origin xyz="1.0 2.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_21">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_21" type="fixed">
    <parent link="object_0"/>
    <child link="object_21"/>
    <origin xyz="1.0 3.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_20">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_20" type="fixed">
    <parent link="object_0"/>
    <child link="object_20"/>
    <origin xyz="1.0 3.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_23">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_23" type="fixed">
    <parent link="object_0"/>
    <child link="object_23"/>
    <origin xyz="1.0 7.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_22">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="1.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_22" type="fixed">
    <parent link="object_0"/>
    <child link="object_22"/>
    <origin xyz="1.0 7.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_25">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="2.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="2.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_25" type="fixed">
    <parent link="object_0"/>
    <child link="object_25"/>
    <origin xyz="2.0 5.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_24">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="2.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="2.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_24" type="fixed">
    <parent link="object_0"/>
    <child link="object_24"/>
    <origin xyz="2.0 5.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_27">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 0.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 0.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_27" type="fixed">
    <parent link="object_0"/>
    <child link="object_27"/>
    <origin xyz="3.0 0.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_26">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 0.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 0.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_26" type="fixed">
    <parent link="object_0"/>
    <child link="object_26"/>
    <origin xyz="3.0 0.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_29">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_29" type="fixed">
    <parent link="object_0"/>
    <child link="object_29"/>
    <origin xyz="3.0 1.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_28">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_28" type="fixed">
    <parent link="object_0"/>
    <child link="object_28"/>
    <origin xyz="3.0 1.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_31">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_31" type="fixed">
    <parent link="object_0"/>
    <child link="object_31"/>
    <origin xyz="3.0 3.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_30">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_30" type="fixed">
    <parent link="object_0"/>
    <child link="object_30"/>
    <origin xyz="3.0 3.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_33">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 4.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 4.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_33" type="fixed">
    <parent link="object_0"/>
    <child link="object_33"/>
    <origin xyz="3.0 4.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_32">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 4.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 4.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_32" type="fixed">
    <parent link="object_0"/>
    <child link="object_32"/>
    <origin xyz="3.0 4.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_35">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_35" type="fixed">
    <parent link="object_0"/>
    <child link="object_35"/>
    <origin xyz="3.0 5.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_34">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 5.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_34" type="fixed">
    <parent link="object_0"/>
    <child link="object_34"/>
    <origin xyz="3.0 5.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_37">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 6.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 6.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_37" type="fixed">
    <parent link="object_0"/>
    <child link="object_37"/>
    <origin xyz="3.0 6.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_36">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 6.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 6.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_36" type="fixed">
    <parent link="object_0"/>
    <child link="object_36"/>
    <origin xyz="3.0 6.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_39">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_39" type="fixed">
    <parent link="object_0"/>
    <child link="object_39"/>
    <origin xyz="3.0 7.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_38">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="3.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.0 7.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_38" type="fixed">
    <parent link="object_0"/>
    <child link="object_38"/>
    <origin xyz="3.0 7.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_41">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="4.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="4.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_41" type="fixed">
    <parent link="object_0"/>
    <child link="object_41"/>
    <origin xyz="4.0 1.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_40">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="4.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="4.0 1.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_40" type="fixed">
    <parent link="object_0"/>
    <child link="object_40"/>
    <origin xyz="4.0 1.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_43">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="4.0 2.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="4.0 2.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_43" type="fixed">
    <parent link="object_0"/>
    <child link="object_43"/>
    <origin xyz="4.0 2.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_42">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="4.0 2.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="4.0 2.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_42" type="fixed">
    <parent link="object_0"/>
    <child link="object_42"/>
    <origin xyz="4.0 2.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_45">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="4.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="4.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_45" type="fixed">
    <parent link="object_0"/>
    <child link="object_45"/>
    <origin xyz="4.0 3.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_44">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="4.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="4.0 3.0 0.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_44" type="fixed">
    <parent link="object_0"/>
    <child link="object_44"/>
    <origin xyz="4.0 3.0 0.5" rpy="0 0 0" />
  </joint>
  <link name="object_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <link name="object_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="10.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="10.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1" type="fixed">
    <parent link="object_0"/>
    <child link="object_1"/>
    <origin xyz="10.0 0.0 0.0" rpy="0 0 0" />
  </joint>
  <link name="object_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0.0 10.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 10.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2" type="fixed">
    <parent link="object_0"/>
    <child link="object_2"/>
    <origin xyz="0.0 10.0 0.0" rpy="0 0 0" />
  </joint>
  <link name="object_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="10.0 10.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="10.0 10.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="arenas/t.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3" type="fixed">
    <parent link="object_0"/>
    <child link="object_3"/>
    <origin xyz="10.0 10.0 0.0" rpy="0 0 0" />
  </joint>
</robot>
